body{
	position: relative;
	height: 70%;
	margin: 0;
	padding: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

.home-btn {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: absolute;
	left: 15rem;
}

.btn-inicia-juego{
	flex-direction: row;
	align-items: flex-start;
	width: 300px;
	padding: 25px;
	line-height: 22px;
	
	position: absolute;
	width: 250px;
	height: 90px;
	top: 15rem;
	left: 15rem;
}

.disenoAzul{
	border-color: black;
	border-style: solid;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 20px;
	background-color: #14779e;
}

.disenoBlanco{
	border-color: black;
	border-style: solid;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 20px;
	background-color: white;
}

.areaJuego-aparecer{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.canvas-horca {
	background-color: whitesmoke;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.botonesJuego{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: space-around;
	height: 2rem;

}

.nuevoJuego {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 30px;
}

.btn-salir {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 30px;
	
}

.conteoContainer{
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	width: 30%;
	align-items: center;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.aciertos{
	font-size: 20px;
	margin: 0;
	text-align: center;
	align-items: center;
}

.conteoIntentos{
	color: #E76C11;
	margin: 0;
	padding: 0;
	text-align: center;
}

.perdiste{
	font-size: 18 px;
	animation: zoomIn 15px ease-in;
	text-align: center;
}

.mostrarLetrasMal{
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif	;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.letraMal{
	display: flex;
	font-size: 25px;
	color: darkred;
	margin: 0;
	margin-bottom: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif	;
	margin: 0;
}


.firma {
	text-align: center;
	background: linear-gradient(whitesmoke 40%, black 95%);
	margin: 0;
	height: 5%;
	font-size: 13px;
	font-family: sans-serif;
	padding-top: 10px;
	padding-bottom: 15px;
	font-weight: bold;
}

.ocultar{
	display: none;
}

.mostrar{
	display: flex;
}

.ganaste{
	font-size: 3em;
	animation: zoomIn 1em ease-out;
	text-align: center;
}

.verde{
	color: #3CE823;
}

.rojo{
	color: red;
}

/*Diseno contenido juego*/

/*https://www.youtube.com/watch?v=4Nn4pay15IQ
https://www.youtube.com/watch?v=DmYHkk_7pXc
*/