body{
	position: relative;
	height: 90%;
	margin: 0;
	padding: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

.btn-inicia-juego{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position:static;
}

.disenoAzul{
	border-color: black;
	border-style: solid;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 20px;
	background-color: #14779e;
}

.disenoBlanco{
	border-color: black;
	border-style: solid;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 20px;
	background-color: white;
}

.areaJuego-aparecer{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.canvas-horca {
	background-color: whitesmoke;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.botonesJuego{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: static;
	height: 2rem;
}

.conteoContainer{
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	width: 30%;
	align-items: center;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.aciertos{
	font-size: 20px;
	margin: 0;
}

.perdiste{
	font-size: 1.5em;
	animation: zoomIn 1em ease-out;
}

.mostrarLetrasMal{
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif	;
	font-weight: bold;
	margin: 0;
}

.letraMal{
	display: flex;
	font-size: 25px;
	color: darkred;
	margin: 0;
	margin-bottom: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif	;
	margin: 0;
}


.firma {
	text-align: center;
	background: linear-gradient(whitesmoke 40%, black 95%);
	margin: 0;
	height: 5%;
	font-size: 13px;
	font-family: sans-serif;
	padding-top: 10px;
	padding-bottom: 15px;
	font-weight: bold;
}

.ocultar{
	display: none;
}

.mostrar{
	display: flex;
}

.ganaste{
	font-size: 3em;
	animation: zoomIn 1em ease-out;
}

.verde{
	color: #3CE823;
}

.rojo{
	color: red;
}

/*Diseno contenido juego*/

/*https://www.youtube.com/watch?v=4Nn4pay15IQ
https://www.youtube.com/watch?v=DmYHkk_7pXc
*/